<app-header></app-header>
<div style="height: 650px;" (window:keypress)="eventHandler($event)">
	<div class="side-menus" style="float: left">
		<i id="add-front" class="material-icons plus-icon" (click)="addStrip($event, true);">add</i>
		<div class="mdl-tooltip" for="add-front">Add to front</div>
	</div>
	<div class="strip"
		*ngFor="let colorStrip of colorStrips; let i = index"
		[ngStyle]="{ 'background': colorStrip.rgbColor, width: ((100 / colorStrips.length) - (10 / colorStrips.length )) + '%' }"
		(click)="onStripClick($event, i, colorStrip)"
		(mouseover)="colorStrip.isHovered = true;"
		(mouseout)="colorStrip.isHovered = false;">

		<div class="absolute" style="top: 5px;"
			[ngClass]="{'close--left': i === 0, 'close--right': i !== 0}"
			[hidden]="!colorStrip.isHovered || colorStrips.length === 1"
			(click)="removeStrip($event, i, colorStrip)">
			<i id="remove-strip" class="material-icons" style="font-size: 20px">close</i>
		</div>

		<div class="absolute" style="bottom: 320px; width: 100%;"
			[hidden]="!colorStrip.isHovered">
			<input class="mdl-slider mdl-js-slider" type="range"
				min="1" max="10" value="10" steps="1" tabindex="0"
				[(ngModel)]="colorStrip.opacity"
				(ngModelChange)="onOpacityChange(i, colorStrip)">
		</div>

		<div style="bottom: 275px; width: 100%; font-size: 16px; text-transform: uppercase;"
			class="absolute">
			{{ colorStrip.color }}
		</div>
		<div style="bottom: 225px; width: 100%; font-size: 16px;"
			class="absolute">
			{{ colorStrip.rgbColor }}
		</div>

		<div style="bottom: 100px; width: 100%;"
			class="absolute"
			[hidden]="!colorStrip.isHovered && !colorStrip.isLocked">
			<i class="material-icons" [hidden]="colorStrip.isLocked" style="color: #444;">lock_open</i>
			<i class="material-icons" [hidden]="!colorStrip.isLocked" style="color: #444;">lock</i>
			<div style="color: #444;">
				<i>Click to {{ colorStrip.isLocked ? ' unlock' : ' lock' }}</i>
			</div>
		</div>

	</div>
	<div class="side-menus" style="float: right">
		<i id="add-last" class="material-icons plus-icon" (click)="addStrip($event);">add</i>
		<div class="mdl-tooltip" for="add-last">Add to last</div>
	</div>
</div>
<app-footer></app-footer>