<!-- <loader msg="loading passed message...yay..checked..."></loader> -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row" style="background: whitesmoke">
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
     <!--  <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div> -->
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/ColorSchemr'] ">Color Scheme Generator</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/About'] ">About</a>
        </nav>
      </div>
      <span class="android-mobile-title mdl-layout-title">
        <img class="android-logo-image" src="app/assets/images/cs-64.png">
      </span>
      <!-- <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item">Horizontal - One</li>
        <li class="mdl-menu__item">Horizontal - Two</li>
        <li class="mdl-menu__item">Horizontal - Three</li>
        <li disabled class="mdl-menu__item">Vertical - One</li>
      </ul> -->
    </div>
  </div>
  <div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title" style="color: #FFF; height: initial;">
      Color Schemer
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/Home'] ">Home</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/ColorSchemr'] ">Generate Scheme</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/About'] ">About</a>

      <div class="android-drawer-separator"></div>
      <span href="" style="color: #7AA8FB; padding: 5px 40px; font-size: 16px;">Share</span>
      <div class="android-drawer-separator"></div>

      <a class="mdl-navigation__link" href="">Twitter</a>
      <a class="mdl-navigation__link" href="">Facebook</a>

      <div class="android-drawer-separator"></div>
      <span href="" style="color: #7AA8FB; padding: 5px 40px; font-size: 16px;">Find us on</span>
      <div class="android-drawer-separator"></div>

      <!-- <a class="mdl-navigation__link" href="">Facebook</a>
      <a class="mdl-navigation__link" href="">Twitter</a>
      <a class="mdl-navigation__link" href="">Google+</a> -->
      <a class="mdl-navigation__link" href="https://github.com/rumblex/angularattack2016-colorschemr">Github</a>
    </nav>
  </div>

  <div class="android-content mdl-layout__content">
    <a name="top"></a>
    <div class="android-be-together-section mdl-typography--text-center">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col">
          <img src="app/assets/images/cs-128.png" style="padding-top: 160px;" />
          <div class="logo-font android-slogan" style="color: #7AA8FB">Color Schemr</div>
          <div class="logo-font android-sub-slogan" style="color: #ABABAB">Generate your always aspiring Color Scheme with jaw-dropping feature list</div>
        </div>
        <div class="mdl-cell mdl-cell--7-col">
          <img src="app/assets/images/preview.png" width="715px" height="600px"/>
        </div>
      </div>

<!--       <a href="#screens">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">expand_more</i>
        </button>
      </a> -->
    </div>
    <!-- <div class="android-screen-section mdl-typography--text-center">
      <a name="screens"></a>
      <div class="mdl-typography--display-1-color-contrast">Powering screens of all sizes</div>
      <div class="android-screens">
        <div class="android-wear android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="app/assets/images/wear-silver-on.png">
            <img class="android-screen-image" src="app/assets/images/wear-black-on.png">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
        </div>
        <div class="android-phone android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="app/assets/images/nexus6-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
        </div>
        <div class="android-tablet android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="app/assets/images/nexus9-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
        </div>
        <div class="android-tv android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="app/assets/images/tv-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
        </div>
        <div class="android-auto android-screen">
          <a class="android-image-link" href="">
            <img class="android-screen-image" src="app/assets/images/auto-on.jpg">
          </a>
          <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
        </div>
      </div>
    </div> -->
    <div class="android-wear-section">
      <div class="android-wear-band">
        <div class="android-wear-band-text">
          <div class="mdl-typography--display-2 mdl-typography--font-thin">Color Palettes one will fall in love with</div>
          <p class="mdl-typography--headline mdl-typography--font-thin">
            Focus more on product and let Color Schemr decides your theme.
          </p>
          <p>
            <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="#features">
              See what's all new in the Color Schemre&nbsp;<i class="material-icons">chevron_right</i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="android-customized-section" id="features">
      <div class="android-customized-section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" style="font-size: 34px;">Colours and so much more.</div>
        <p class="mdl-typography--font-light">
          Check out all you can do in Color Schemr
          <br>
        </p>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Generate Palettes</div>
          <div>Upto a maximum of 10 strips</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Add / Remove Strips</div>
          <div>Add to front / last, Remove any strip</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Color Range</div>
          <div>Get Colors from a specified range of [R, G, B]</div>
        </div>
      </div>
      <!-- 2 row -->
      <div class="mdl-grid" style="margin-top: 50px;">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Lock / Unlock</div>
          <div>Control whether hitting spacebar should update color</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Color Codes</div>
          <div>Each strip color's in Hex and RGB code</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Opacity</div>
          <div>Adjust strip opacity</div>
        </div>
      </div>

      <!-- 3 row -->
      <div class="mdl-grid" style="margin-top: 50px;">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Random Quote</div>
          <div>A color quote with each new palette generation</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Global Settings</div>
          <div>Lock / Unlock / Adjust Color Range for all Strips</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Text Color Adjustment</div>
          <div>Automatic text color adjustment based on strip color</div>
        </div>
      </div>

      <!-- 4 row -->
      <div class="mdl-grid" style="margin-top: 50px;">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Disco Mode</div>
          <div>Text...</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Piano Mode</div>
          <div>Text..</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Preview Mode</div>
          <div>Text...</div>
        </div>
      </div>

      <!-- <div class="android-customized-section-image"></div> -->
    </div>

    <footer class="android-footer mdl-mega-footer">
      <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--right-section">
          <a class="mdl-typography--font-light" href="#top">
            Back to Top
            <i class="material-icons">expand_less</i>
          </a>
        </div>
      </div>

      <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">Angoor Tu: © 2016, AngularAttack Hackathon</p>
        <p>Made with <i class="fa fa-heart" aria-hidden="true" style="color: #F96767;"></i> in India</p>
        <p class="mdl-typography--font-light">Developed by <strong>Varun Malhotra</strong> & <strong>Gaurav Nanda</strong></p>
      </div>
    </footer>
  </div>
</div>