<div mdl class="mdl-layout__header-row">
  <span class="android-title mdl-layout-title" style="color: #6ab344;">
    Color Schemer
  </span>

  <!-- Add spacer, to align navigation to the right in desktop -->
  <div class="android-header-spacer mdl-layout-spacer"></div>
  <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    <!-- <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="search-field">
    </div> -->
    <i id="tour-dialog" class="material-icons" style="color: #777;">info</i>
    <div class="mdl-tooltip" for="tour-dialog">Learn Controls</div>
  </div>

  <!-- Navigation -->
  <div class="android-navigation-container">
    <nav class="android-navigation mdl-navigation">
      <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/Home'] ">Home</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" [routerLink]=" ['/About'] ">About</a>
    </nav>
  </div>

  <span class="android-mobile-title mdl-layout-title">

  </span>

  <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
    <li class="mdl-menu__item">Horizontal - One</li>
    <li class="mdl-menu__item">Horizontal - Two</li>
    <li class="mdl-menu__item">Horizontal - Three</li>
    <li disabled class="mdl-menu__item">Vertical - One</li>
  </ul>
</div>