body {
	padding: 0;
	border: none;
	background: none;
	color: #757575 !important
}

/***********************
 * Helper classes: Start
 ***********************/

/* margin related css */
.margin-top--10 {
	margin-top: 10px;
}
.margin-left--10 {
	margin-left: 10px;
}
.margin-bottom--10 {
	margin-bottom: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}


.margin-top--20 {
	margin-top: 20px;
}
.margin-left--20 {
	margin-left: 20px;
}
.margin-bottom--20 {
	margin-bottom: 20px;
}
.margin-right--20 {
	margin-right: 20px;
}


.margin--10 {
	margin: 10px;
}
.margin--20 {
	margin: 20px;
}


.margin-horiz--10 {
	margin-left: 10px;
	margin-right: 10px;
}
.margin-horiz--20 {
	margin-left: 20px;
	margin-right: 20px;
}


.margin-vert--10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-vert--20 {
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Text related css */
.text--center {
	text-align: center;
}


/* FLoat */
.float--left {
	float: left;
}
.float--right {
	float: right;
}

/* Layouts */
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.block {
	display: block;
}
.inline {
	display: inline-block;
}



/***********************
 * Helper classes: End
 ***********************/


 /* icon related css */
.icon--50 {
	width: 50px;
	height: 50px;
}