<div *ngFor="let color of colorStrips; let i = index;">
    <div [ngStyle]="{ 'background-color': color.primaryColor.rgbColor, 'height': (650 / colorStrips.length + 'px') }"
         style="width: 300px; position: relative;">
        <button class="mdl-button mdl-js-button mdl-button--fab"
                [ngStyle]="{ 'background-color': color.secondaryColor.rgbColor }"
                style="position: absolute; right: 20px; bottom: 20px; z-index: 2;">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>